#kartu {
  margin: auto;
  margin-top: 50px;
  border-color: black;
}

#kartu_1 {
  position: absolute;
  text-align: center;
}

ul {
  list-style: none;
  margin: auto;
}

li {
  position: relative;
}
